html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-style: italic;
    color: rgb(39, 29, 20);
    background-image: linear-gradient(37deg, violet, rgb(5, 167, 145),rgb(203, 229, 203));
    font-size: 40px;
}

a {
    color: antiquewhite;
}
