html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-style: italic;
    color: rgb(39, 29, 20);
    background-image: linear-gradient(37deg, #094b79,#00d4ff,#020024);
    font-size: 40px;
}

a {
    color: antiquewhite;
}
